.scale-up-center {
  -webkit-animation: scale-up-center 0.2s ease-in both;
  animation: scale-up-center 0.2s ease-in both;
}

.spinning-logo {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: rotate(90deg);
  }
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}